*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
body{

	font-size: 18px;
	background-size:cover;
  background-position:center; background-attachment: fixed;
}
.content{
	margin:80px auto;
	width:450px;
	
	
}

#btn{
	
	width: 100%;
	height: 30px;
	color: green;
	
	
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 20px;
	
	
	
}
.login-form,.signup-form{width: 100%;padding: 40px;height:400px;
	background-color: black;opacity: 0.9;}
.name{width: 100%;padding: 10px;margin: 10px;background-color: #000000;
	color:white;border:none;border-top: 2px solid #00d187;border-bottom: 2px solid #b731d6;
	border-right:1px solid  #ef9210  ;border-left:1px solid  #ef9210 ; border-radius: 12px;}


	#btns{width: 100%;
background-color: #c41770;
height: 50px;
text-transform: uppercase;
text-align: center;
color: white;
font-weight: bold;
letter-spacing: 1px;

margin-top: 10px;
padding: 10px;
	}
	.ok{width: 100%;

height: 50px;
text-transform: uppercase;
text-align: center;
color: white;
font-weight: bold;
letter-spacing: 1px;

margin-top: 10px;
padding: 10px;
margin-left: 8px;
	}
.i9{color: black;font-size: 40px;width:50%;cursor: pointer;}

   .flex-container{ display: flex;
  justify-content:center;}

	.active{
color:red; }





@media only screen and (max-width:320px){
	body{width: 100%;
	 overflow-y: scroll;
	 overflow-x:hidden; 
	 background-position: center;
	 background-size:cover;
}
	.content{
		float:left;
		margin-left: 0px;
		width:100%;
		
	}
	}